<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Todo List</title>
</head>
<body>
  
  <div id="app">
    <h1>Cose da fare</h1>
    <h4 v-if="error">inserire testo di almeno 3 caratteri</h4>
    <input
      @keyup.13="insertItem"
      v-model="stringToDo.text" 
      type="text" 
      placeholder="Add to list...">
    <ul>
      <li v-for="(item, i) in toDoList">
        <span :class="{'line': item.done}" 
        @click="item.done = !item.done">{{item.text}}</span>
        <span @click="removeItem(i)">&Cross;</span>
      </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/milestone_1/script.js"></script>
</body>
</html>